* {margin:0; padding:0; }

@font-face
{
  font-family: 'Digital7';
  src: url('../../../assets/fonts/digital-7.ttf');
}

body
{
  color:#ffcf00;
  background: #222;
  text-align:center;
}

h1
{
  text-align:center;
  font: 3em Digital7;
  margin-bottom:30px;
}

#gamePanel
{
  width: 800px;
  margin:0 auto;
  text-align:left;
  border: 4px solid #333;
}

#messages
{
  text-align:center;
}

#playLink:link, 
#playLink:visited, 
#playLink:hover, 
#playLink:active
{
  color:#ffcf00;
  font: 3em Digital7;
  text-decoration: none;
}

#fps
{
  font: 2em Digital7;
}